<% content = ""; %>

<% if (typeRol == "clientes") { %>
    <% content += ` 

    <div id="content" class="mt-0">
        <section>
            <div class="container">
                <div class="row">
                <h1 class="text-light bg-oceanBlue fw-bold mb-0 p-3">Editar ${typeRol}</h1>
                </div>
            </div>
            <div class="container bg-grey">
                <div class="row g-sm-4 text-black fw-bold p-4">
                <div class="col-md-6">
                    <label for="inputNombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="inputNombre" name="nombre" value="${nombre}">
                </div>
                <div class="col-md-6">
                    <label for="inputApellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="inputApellido" value="${apellido}">
                </div>
                <div class="col-md-6">
                    <label for="inputRut" class="form-label">Rut</label>
                    <input type="text" class="form-control" id="inputRut" value="${rut}">
                </div>
                <div class="col-md-6">
                    <label for="inputUsername" class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" id="inputUsername" value="${username}">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail" value="${email}">
                </div>
                
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <label for="select-colabs" class="form-label tex">Colaborador asignado (${colaboradorAssigned})</label>
                            <select id="select-colabs" name="typerol" class="form-select" name="selectcolabs">
                                <option selected value="-1">Seleccionar</option>
                            </select>
                        </div>
                    </div>
                
                <div class="col-12 text-center">
                    <button class="btn btn-primary mt-5 border-5" id="button-save">Guardar</button>
                    <button type="button" class="btn btn-danger mt-5 border-5" id="button-delete">Eliminar usuario</button>
                </div>
                </div>
            </div>
        </section>
    </div>
    <script src="/js/dashboard-admin-colabs-editform.js"></script> 

    ` %>

<% } else if (typeRol == "colaboradores") { %>
    <% content += ` 

    <div id="content" class="mt-0">
        <section>
            <div class="container">
                <div class="row">
                <h1 class="text-light bg-oceanBlue fw-bold mb-0 p-3">Editar ${typeRol}</h1>
                </div>
            </div>
            <div class="container bg-grey">
                <div class="row g-sm-4 text-black fw-bold p-4">
                <div class="col-md-6">
                    <label for="inputNombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="inputNombre" name="nombre" value="${nombre}">
                </div>
                <div class="col-md-6">
                    <label for="inputApellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="inputApellido" value="${apellido}">
                </div>
                <div class="col-md-6">
                    <label for="inputRut" class="form-label">Rut</label>
                    <input type="text" class="form-control" id="inputRut" value="${rut}">
                </div>
                <div class="col-md-6">
                    <label for="inputUsername" class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" id="inputUsername" value="${username}">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail" value="${email}">
                </div>                
                <div class="col-12 text-center">
                    <button class="btn btn-primary mt-5 border-5" id="button-save">Guardar</button>
                    <button type="button" class="btn btn-danger mt-5 border-5" id="button-delete">Eliminar usuario</button>
                </div>
                </div>
            </div>
        </section>
    </div>
    <script src="/js/dashboard-admin-colabs-editform.js"></script> 

    ` %>


<% } %>


  

   






<%- include('partials/template'); %>