<% content = `
    <div class="container ms-5">
        <h1>${username}, tú rutina para hoy es:</h1>
        <h3 class="mt-5">${nombreRutina}</h3>
        <ul>
            <div id="routine">
                
            </div>
        </ul>
    </div>

`%>

<script src="/js/dashboard-clients-routine.js"></script>


    

<%- include('partials/template'); %>