<%- include('header'); %>

<form method="post">
    <div class="f1">
        <h2>INICIO DE SESION</h2>
        <!-- <div>
            <input type="text" id="user" name="username" autocomplete="username" placeholder="Usuario o correo">
        </div>
        <div>
            <input type="password" id="password" name="password" autocomplete="current-password" placeholder="Contraseña">
        </div> -->
        <div class="mb-3">
            <input type="text" class="form-control" aria-describedby="emailHelp" id="user" name="username"
            autocomplete="username" placeholder="Usuario o correo">
          </div>
          <div class="mb-3">
            <input type="password" name="password"  class="form-control" id="password" placeholder="Contraseña">
          </div>
          <button type="submit" class="btn btn-primary w-30 mt-2 border-5">Iniciar sesión</button>
        </div>

    </div>
</form>


    
</body>
</html>